.contenedor {
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    height: 300px;
    border-radius: 5px;
    padding: 20px;
    background-image:url(./UNIVERSO.jpg);
    box-shadow: 0px 0px 5px;
    font-size: 23px;
     
    
}
body{
    background-image:url(./GALAXIA.jpg);
}
.titulo{
    text-align: center;
    border-radius: 5px;
   color: aliceblue;
   font-style: italic;
   margin-bottom: 20px;
   
}
.label-tel{
    color: aliceblue;
    font-style: italic;
    margin-top: 20px;
    padding: 5px

   
    

    
}
input:hover{
    background-color: rgb(54, 5, 82);
}


input:focus{
background-color: rgb(139, 9, 118);
}
a:active{
color: rgb(82, 0, 0);
}
.label-password{
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-top: 20px;
    padding: 5px;
    
}
.boton:hover{
    background-color: rgb(48, 32, 65);
}
.boton{
   background-color: rgb(57, 17, 95);
   border-radius: 5px;
   font-style: italic;
   cursor: pointer;
   
}
.texto-registrate{
   color: rgb(253, 253, 253);
   font-style: italic;
}
.formulario input{
    margin-top: 20px;
}